<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Brython Hello World</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.1/brython.min.js"
                integrity="sha512-QqJtZYGp0eHzvOxKw2RUODSL2iVW/2FH5NAaEobhgiVD0rUTJMVo4oLYd9QyEYwit0en+CGeft8eV/zEFeNPxA=="
                crossorigin="anonymous"></script> <!-- Brython lets me use python instead of js cuz js is bad -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.1/brython_stdlib.min.js"
                integrity="sha512-+w8uBdt0FTsenu79jeXSP+l6WKTPhQwTtqnJMiyYCvb1IvbhGSwf7O+qZmcaX3dsOB2J3AOWGR/DKQMevte9hQ=="
                crossorigin="anonymous"></script> <!-- The other part of Brython -->
    </head>
    <body onload="brython()">
        <script type="text/python">
            import browser
            browser.alert("Hello Real Python!")
        </script>
    </body>
</html>