<!DOCTYPE html>
<html lang="en-us">
    <!--
    (c) 2021 Seth Peace
    All Rights Reserved

    Licensed to Classical Academy Middle School
    Please No Unauthorized Use ~ Forking is OK
    Thank You,
    𝓢𝓮𝓽𝓱 𝓟𝓮𝓪𝓬𝓮

    Included Open Source Software:
     - Instascan by @schmich ~ License Located at /static/js/instascan-LICENSE
     - Instascan (iOS fork) by @JoesCDB ~ License Located at /static/js/instascan-LICENSE
    -->

    <head>
        <meta name="apple-mobile-web-app-capable" content="yes"> <!-- Now featuring iOS support! -->

        <title>QR Code Scan Test</title>

        <!-- Imports -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
        {% if platform == "iphone" %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/instascan.min.js') }}"></script>
        {% else %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/instascan-apple.min.js') }}"></script>
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script> <!-- JQuery powers the website basics -->

        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <div id="page-contents" class="centered">
            <div id="errors" class="big-text">{{ platform }}</div>
            <video id="video-preview" class="video-back" autoplay muted playsinline></video>
            <div id="qr-code-info" class="big-text">Waiting For QR Code...</div>
            <div id="camera-picker-container">
                <br><label for="camera-picker" class="text">Camera: </label>
                <select name="camera-picker" id="camera-picker" class="text">
                    <option value="placeholder" id="cam-placeholder" disabled selected hidden>Hang on... Getting a list of cameras</option>
                    <!-- <option value="7ebea52e24a659fc40e7a984ab5eb70d866bb3c78da9de88c79ce5b9e329eab0" id="cam-7ebea52e24a659fc40e7a984ab5eb70d866bb3c78da9de88c79ce5b9e329eab0">Cam 0</option>
                    <option value="1" id="cam-1">Cam 1</option>
                    <option value="2" id="cam-2">Cam 2</option> -->
                </select>
            </div>
            {% if platform == "iphone" %}
            <div id="dont-use-safari-msg" class="text">
                <br>NOTICE: This website doesn't function properly in Safari.
                <br>Chrome is recommended on iOS. Thanks for understanding!
            </div>
            {% endif %}
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>
